.home-container {
  height: 300px;
  color: #fff;
  padding-left: 150px;
}

.home-content h2 {
  padding: 5px;
  padding-top: 70px;
}

.home-content h1 {
  color: #ffff00;
  padding: 5px;
}

.home-buttons {
  padding-top: 5px;
}

.home-buttons .btn-hire {
  background-color: #3b8ff3;
  color: #fff;
  transition: 0.3s ease;
}

.home-buttons .btn-hire:hover {
  background-color: #fff;
  color: #3b8ff3;
  transition: 0.4s ease;
}

.home-buttons .btn-cv {
  background-color: #fc6a03;
  color: #fff;
  transition: 0.3s ease;
  margin-left: 15px;
  transition: 0.3s ease;
}

.home-buttons .btn-cv:hover {
  background-color: #fff;
  color: #fc6a03;
  transition: 0.4s ease;
}

.theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #000;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  position: fixed;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

/* media query */

@media (max-width: 600px) {
  .home-container {
    padding: 0;
    margin: 0;
    margin-top: 50px;
  }

  .home-container h2 {
    font-size: 20px;
  }

  .home-container h1 {
    font-size: 23px;
  }
}
