.navbar-profile-pic img {
    border-radius: 90px;
    height: 150px;
    width: 150px;
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 20px;
}

.nav-item {
    color: #fff;
    margin-top: 30px;
    margin-left: 25px;
}

.nav-link {
    margin-top: 20px;
    cursor: pointer;
    transition: 1s ease;
}

.nav-link:hover {
    color: #ed2939;
    transition: 0.4s ease;
}

.nav-link svg {
    margin-right: 10px;
}

.nav-link .active {
    color: #fff;
    text-decoration: none;
    border-left: 5px solid #ed2939;
    padding-left: 10px;
    transition: 0.5s ease;
}